@mixin login-register-btn()
{
    position: absolute;
    width:142px;
    height:43px;
    background:linear-gradient(to right, #ff105f,#ffad06);
    border-radius:30px;
    transition:0.5s;
}
@mixin submit-btn()
{
    width:102%;
    height:40px;
    padding:8px 30px;
    cursor:pointer;
    display:block;
    margin:auto;
    margin-top:15px;
    background:linear-gradient(to right, #ff105f,#ffad06);
    border:0;
    outline:none;
    border-radius:30px;
}
@mixin input-field()
{
    width:210px;
    padding:10px 0;
    border-left:0;
    border-right:0;
    border-top:0;
    border-bottom:1px solid #999;
    background:transparent;
}
@mixin span-class()
{
    color:#777;
    font-size:12px;
    bottom:68px;
}
@mixin input-type()
{
    padding-left:32px;
    padding-bottom:0px;
}
*
{
    font-family: sans-serif;
}
.login-page
{
    
    .login-block
    {
        width:296px;
        height:400px;
        background-color:white;
        margin-left: 486px;
        margin-top: 76px;
        overflow: none;
        .btn-block
        {
            background-color: white;
            margin:10px auto;
            border-radius:30px;
            width:293px;
            position:relative;
            box-shadow:0 0 20px 9px #ff61241f;
            #btn
            {
                @include login-register-btn();
            }
            .btn-toggle
            {
                padding: 10px 38px;
                cursor :pointer;
                background:transparent;
                border:0px;
                outline:none;
                position:relative;
            }
        }
    }
}
.form-block
{
    top:152px;
    position: absolute;
    width:204px;
    height:30px;
    transition: 0.5s;
    .forget-password
    {
        padding: 5px;
        padding-left: 114px;
        font-size: 11px;
    }
    .input-field
    {
        @include input-field();
    }
    .submit-btn
    {
        @include submit-btn();
    }
    .check-box
    {
        margin:11px 8px 7px 3px;
    }
    .span
    {
        @include span-class();
    }
    .input-container input[type=text]
    {
        @include input-type();
    }
}
#login
{
    left:510px;
}
#register
{
    left:510px;
    display:none;
}

.select-toggle
{
    width: 100%;
    padding: 13px 0px 12px 0px;
    margin: 57px 0px 0px 23px;
    background:linear-gradient(to right, #991f47,#8b4978);
    font-weight: bolder;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
#user
{
    display:none;
    padding-left:35px;
    width: 227px;
    .input-field
    {
        @include input-field();
    }
    .span
    {
        @include span-class();
    }
    .submit-btn
    {
        @include submit-btn();
    }
    .input-container input[type=text]
    {
        @include input-type();
    }
}
#partner
{
    @extend #user;
}
span{
    padding:5px;
    min-width: 50px;
}
.input-container{
    position:relative;
    margin-bottom:-18px;
}
.input-container i{
    color:rgb(49, 103, 252);
    position: relative;
    left: -5px;
    padding: 4px 9px;
    font-size: 23px;
    top: -30px;
}

